<div class="row justify-content-center mb-3">
    <div class="col-12">
        <div class="row no-gutters">
            <a [routerLink]="['rockets']"
               class="col-4 craft-wrapper">
                <h2 class="craft-name">Rockets</h2>
                <div class="craft-image">
                    <img src="assets/images/webp/falconheavy.webp" class="img-fluid rounded" />
                </div>
            </a>
            <a [routerLink]="['capsules']"
               class="col-4 craft-wrapper">
                <h2 class="craft-name">Capsules</h2>
                <div class="craft-image">
                    <img src="assets/images/webp/dragon.webp" class="img-fluid rounded" />
                </div>
            </a>
        </div>
    </div>
</div>