<section class="expanded-card">
  <div class="banner"></div>

  <div class="title">
    <h1>
      <page-title></page-title>
    </h1>

    <h2 class="text-muted">
      <small>
        <page-subtitle></page-subtitle>
      </small>
    </h2>
  </div>

  <div class="content">
    <article class="content mt-5">
      <h3>Hi there!</h3>

      <p>
        Welcome to SpaceX Monitor, one of my little side-projects.<br>
        It provides, or at least attempts to provide, a clean and easy to use web-interface for the data provided by <a href="https://github.com/r-spacex/SpaceX-API" target="_blank">SpaceX API</a>.
        Among the data is a list of all launches and launch vehicles the company SpaceX sends screaming through the atmosphere on daring adventures.
        <br><br>
        I started this project to try out a few new or new-to-me web technologies. For starters this is a Progressive Web App (PWA).
        This means that upon loading, this app will cache itself using a smart little script called a 'service-worker'.<br>
        A PWA app can, in some cases, even be installed and used offline on a smartphone regardless its brand or operating system.<br>
        Holy cow, isn't that awesome?!<br>
        Besides that, it also gave me a good reason to set-up HTTPS on my domain. Since a PWA <strong>always</strong> exclusively utilizes the HTTPS protocol.
        Over time I have changed a lot about this app. Recently I have given the look and feel a big overhaul and, while I was at it, changed the underlying structure governing data streams using ReactiveX for JavaScript.<br>
        I hope you like it!
      </p>

      <pre><a target="_blank" href="https://www.spacex.com/"><i class="fas fa-rocket"></i> SpaceX</a></pre>
      <pre><a target="_blank" href="https://github.com/daftfox/spacex-monitor"><i class="fab fa-github"></i> SpaceX Monitor</a></pre>
      <pre><a target="_blank" href="https://github.com/r-spacex/SpaceX-API"><i class="fab fa-github"></i> SpaceX API</a></pre>
      <p>
        Special thanks to <a target="_blank" href="https://github.com/jakewmeyer">Jake Meyer</a> for his rapid replies and edits of the SpaceX API.
      </p>
    </article>

    <article class="content" *ngIf="spacex$ | async as spacex">
      <h3>What SpaceX is?</h3>
      <p class="mt-3">
        Have you been living under a rock?!<br>
        SpaceX is the hottest thing in space exploration since July 21st 1969, especially since the founder, {{spacex.founder}}, has launched his own car into a heliocentric orbit on the biggest rocket built to date on February the 6th 2018.<br>
        <strong>And then the damn thing landed itself!</strong><br>
        {{spacex.summary}}
      </p>

      <div class="images">
        <div>
          <img src="/assets/images/falconheavy-inflight--small.png" alt="Falcon Heavy in flight" />
          <div>
            <small class="text-muted">Falcon Heavy in mid flight</small>
          </div>
        </div>
        <div>
          <img src="/assets/images/starman.png" alt="Starman" />
          <div>
            <small class="text-muted">Starman in his Tesla roadster on an orbit around Earth</small>
          </div>
        </div>
        <div>
          <img src="/assets/images/falcon-heavy-launch-boosters-landing--small.png" alt="Falcon Heavy landing" />
          <div>
            <small class="text-muted">Falcon Heavy side boosters landing simultaneously</small>
          </div>
        </div>
      </div>
    </article>
  </div>

</section>
