.table td, .table tr th {
    vertical-align: middle;
}

.w1rem {
    width: 1rem;
}

.success.fa-check {
    color: green;
}

.success.fa-times {
    color: red;
}

.payloads td:nth-child(1) {
    width: 25%;
}

.payloads td:nth-child(2) {
    width: 75%;
}

.reusability td:nth-child(1) {
    width: 75%;
}

.reusability td:nth-child(2) {
    width: 25%;
    text-align: right;
}