<article>
  <div class="heading">
    <h3>Maximum payload weight</h3>
    <small class="text-muted">The maximum weight this model rocket is able to lift to specific orbits.</small>
  </div>
  <orbits-visualized></orbits-visualized>

  <div class="payload-weights">
    <div class="weight"
         *ngFor="let payloadWeight of payloadWeights">
      <div class="name">{{payloadWeight.name}}<span class="uppercase" *ngIf="payloadWeight.id.length < 4"> ({{payloadWeight.id}})</span></div>
      <div class="icon" [ngClass]="payloadWeight.id"></div>
      <div class="mass">{{payloadWeight.kg | division : '1000' | number: '1.':'nl'}} tons</div>
    </div>
  </div>
</article>
