<div class="row justify-content-center mb-3">
    <div class="col-12">
        <div class="row no-gutters">
            <a *ngFor="let rocket of rockets"
                [routerLink]="[rocket.id]"
                class="col-4 rocket-wrapper">
                <h2 class="rocket-name">{{rocket.name}}</h2>
                <div class="rocket-image">
                    <img src="../../../assets/images/{{rocket.id}}.jpg" class="img-fluid rounded" />
                </div>
            </a>
        </div>
    </div>
</div>