<article class="container">
  <div class="orbits">

    <div class="geo" title="Geostationary Earth Orbit">
      <div>
        <div>GEO</div>
        <small>36.000km</small>
      </div>
    </div>

    <div class="gto" title="Geosynchronous Transfer Orbit">
      <div>
        <div>GTO</div>
      </div>
    </div>

    <div class="leo" title="Low Earth Orbit">
      <div>
        <div>LEO</div>
        <small>500 - 900km</small>
      </div>
    </div>

    <img src="/assets/images/earth-small.png" alt="earth" />

  </div>
</article>
