<spacex-header (pageTitle)="pageTitleUpdated($event)"></spacex-header>

<div class="container-fluid p-0">
  <div [ngClass]="coverImage" class="cover-image"></div>
  <div class="m-0 image-overlay row justify-content-center">
    <div class="page-info col-6">
      <h1>{{pageTitle}}</h1>
      <span class="subtitle">{{subTitle}}</span>
    </div>
  </div>

  <div class="page row justify-content-center no-gutters">
    <div class="gradient"></div>
    <div [ngClass]="{'col-6': pageTitle === 'Home', 'col-10': pageTitle !== 'Home'}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>