<div class="row">
    <div class="col-2">
        <div class="row no-gutters">
            <div class="col-12">
                <strong>Filters:</strong>

                <!-- succesful launch -->
                <div class="row mt-3">
                    <div class="mt-3">Successful: </div>
                    <div class="col-12 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    name="successful"
                                    type="radio" 
                                    [value]="null"
                                    (change)="getLaunches()"
                                    [(ngModel)]="filters.successful" />
                            Show all launches
                        </label>
                    </div>
                    <div class="col-12 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    name="successful" 
                                    type="radio" 
                                    [value]="true"
                                    (change)="getLaunches()"
                                    [(ngModel)]="filters.successful" />
                            Show successful launches
                        </label>
                    </div>
                    <div class="col-12 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    name="successful"
                                    type="radio" 
                                    [value]="false"
                                    (change)="getLaunches()"
                                    [(ngModel)]="filters.successful" />
                            Show failed launches
                        </label>
                    </div>
                </div>

                <!-- rocket type -->
                <div class="row mt-3">
                    <div class="mt-3">Rocket: </div>
                    <div class="col-12 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    name="launchpad" 
                                    type="radio" 
                                    [value]="null"
                                    (change)="getLaunches()"
                                    [(ngModel)]="filters.selectedRocket" />
                            All
                        </label>
                    </div>
                    <div *ngFor="let rocket of rockets"
                            class="col-12 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    name="launchpad" 
                                    type="radio" 
                                    [value]="rocket.id"
                                    (change)="getLaunches()"
                                    [(ngModel)]="filters.selectedRocket" />
                            {{rocket.name}}
                        </label>
                    </div>
                </div>

                <!-- sites -->
                <div class="row mt-3">
                    <div class="mt-3">Launch site: </div>
                    <div class="col-12 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    name="launchpad" 
                                    type="radio" 
                                    [value]="null"
                                    (change)="getLaunches()"
                                    [(ngModel)]="filters.selectedLaunchpad" />
                            All
                        </label>
                    </div>
                    <div *ngFor="let launchpad of launchpads"
                            class="col-12 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    name="launchpad" 
                                    type="radio" 
                                    [value]="launchpad.id"
                                    (change)="getLaunches()"
                                    [(ngModel)]="filters.selectedLaunchpad" />
                            {{launchpad.full_name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="w1rem">Flight number</th>
                            <th>Mission patch</th>
                            <th>Rocket name</th>
                            <th>Reusability</th>
                            <th>Success</th>
                            <th width="200px">Payload</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let launch of launches">
                            <th valign="middle" 
                                scope="row"
                                class="w1rem">
                                <a [routerLink]="['../'+launch.flight_number]">
                                    {{launch.flight_number}}
                                </a>
                            </th>
                            <td style="width: 75px;">
                                <img *ngIf="launch.links.mission_patch"
                                     class="img-fluid"
                                     src="{{launch.links.mission_patch}}"/>
                            </td>
                            <td valign="middle">
                                <a [routerLink]="['/craft','rockets', launch.rocket.rocket_id]">{{launch.rocket.rocket_name}}</a>
                            </td>
                            <td valign="middle">
                                <table class="reusability w-100">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>Cores landed:</div>
                                                <div>Cores reused:</div>
                                            </td>
                                            <td>
                                                <div>{{landedCores(launch.rocket.first_stage.cores)}}%</div>
                                                <div>{{reusedCores(launch.rocket.first_stage.cores)}}%</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <i class="success fa"
                                    [ngClass]="{'fa-check': launch.launch_success, 'fa-times': !launch.launch_success}">
                                </i>
                            </td>
                            <td width="200px">
                                <table *ngIf="launch.rocket.second_stage.payloads" 
                                        class="payloads w-100">
                                    <tbody>
                                        <tr *ngFor="let payload of launch.rocket.second_stage.payloads">
                                            <td>
                                                <div>Type:</div>
                                                <div>Id:</div>
                                            </td>
                                            <td>
                                                <div>{{payload.payload_type}}</div>
                                                <div>{{payload.payload_id}}</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="middle">{{launch.launch_date_utc | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>