.table td, .table tr th {
    vertical-align: middle;
}

.payloads td:nth-child(1) {
    width: 25%;
}

.payloads td:nth-child(2) {
    width: 75%;
}

.reusability td:nth-child(1) {
    width: 75%;
}

.reusability td:nth-child(2) {
    width: 25%;
    text-align: right;
}