.scrollable-card,
.expanded-card {
  position: absolute;
  margin: 100px 100px;
  border-radius: 2px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, .2);
  background-color: $contentCardBackgroundColor;
  width: calc(100% - 200px);

  &.row {
    margin: 100px 100px;
  }

  .banner {
    height: 25px;
    position: absolute;
    top: 50px;
    left: -3px;
    right: -3px;
    background: $detailTextColor; /* Old browsers */
    background: -moz-linear-gradient(-45deg, $detailTextColor 0%, lighten($detailTextColor, 10%) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $detailTextColor 0%,lighten($detailTextColor, 10%) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $detailTextColor 0%,lighten($detailTextColor, 10%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$detailTextColor}', endColorstr='#{lighten($detailTextColor, 10%)}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.3);
  }
}

.expanded-card {
  overflow: auto;
  padding: 100px 75px;

  .images {
    width: 100%;
    margin-top: 3em;

    >div {
      padding: 0 15px;
      width: 33%;
      display: inline-block;
      position: relative;

      >img {
        border-radius: 3px;
        max-width: 100%;
        height: auto;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
      }

      >div {
        position: absolute;
        top: 100%;
        left: 1em;
        right: 1em;
      }
    }
  }
}

.scrollable-card {
  height: calc(100vh - 200px);
  padding: 100px 75px 25px;

  >.col-3 {
    height: 5.5rem;
  }

  >.col-9 {
    margin-top: -25px;

    .list {
      height: calc(100vh - 325px);
      overflow-y: auto;
      overflow-x: visible;
      padding: 10px 20px 10px 10px;

      .list-element {
        background-color: lighten($contentCardBackgroundColor, 1%);
        height: 8em;
        padding: 1em;
        display: flex;
        margin: 10px 0;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
        transition: transform 150ms ease-in-out;
        cursor: pointer;
        border-radius: 2px;

        &:hover {
          transform: scale(1.03);
        }

        &:focus {
          outline: none;
        }

        .image {
          display: flex;
          width: 6em;

          img {
            width: 100%;
          }
        }

        .content {
          display: flex;
          width: calc(100% - 6em);
          height: 6em;
          padding-left: 10px;

          .title {
            width: 10em;

            h3 {
              font-size: 1.3em;
            }

            div {
              color: $secondaryTextColor;
              font-size: .8em;
              position: relative;

              i {
                position: absolute;
                left: 5em;
                top: .35em;
              }
            }
          }

          .summary {
            display: flex;
            width: calc(100% - 10em);
            padding-left: 10px;

            p {
              height: 6em;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $secondaryTextColor;
            }
          }
        }
      }
    }
  }
}
