$primaryTextColor: #ccc;
$secondaryTextColor: #636c72;
$detailTextColor: #3e94ff;

$backgroundBlurAmount: 10px;

$successTextColor: #8fff5f;
$dangerTextColor: #ff543e;

// sidebar
$sidebarWidth: 4rem;

$sidebarBackgroundColor: #222;

$sidebarButtonFontSize: 1.6em;
$sidebarButtonFontColor: #888;
$sidebarButtonFontColor--active: #111;
$sidebarButtonFontColor--hover: #111;

$sidebarButtonBackgroundColor--active: #515151;
$sidebarButtonBackgroundColor--hover: #515151;


// content card
$contentCardBackgroundColor: #222;
