.spinner {
  position: absolute;
  top: 45%;
  left: 45%;
}

.heading {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
  grid-template-areas:
    "title title"
    "image description"
    "image payload-weights";

  .image {
    grid-area: image;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  }

  payload-weights {
    grid-area: payload-weights;
  }

  .title {
    grid-area: title;
    padding: 1rem 0;
  }

  .description {
    grid-area: description;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
      "text text"
      "payload-weights payload-weights";

    p {
      text-align: justify;
      grid-area: text;
    }
  }

}

.content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 45rem;
  grid-template-areas:
    "slideshow";

  .details {
    grid-area: details;
  }

  .slideshow {
    grid-area: slideshow;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .heading {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
    grid-template-areas:
      "title title"
      "image description"
      "image description"
      "payload-weights payload-weights";
  }
}
