<section class="expanded-card">
  <div class="banner"></div>

  <div class="heading"
       [@fadeAnimation]
       *ngIf="(rocket$ | async) as rocket">
    <div class="image">
      <blueprint class="blueprint"
                 [rocket]="rocket">
      </blueprint>
    </div>
    <div class="title">
      <h1>{{rocket.name}}</h1>
    </div>

    <div class="description">
      <p>
        {{rocket.description}}
      </p>
    </div>

    <payload-weights [payloadWeights]="rocket.payloadWeights">
    </payload-weights>
  </div>

  <div class="content">

    <div class="slideshow"
         [@fadeAnimation]
         *ngIf="(images$ | async) as images">
      <slideshow [showArrows]="true"
                 [imageUrls]="images">
      </slideshow>
    </div>
  </div>

  <div class="spinner">
    <spinner *ngIf="!(rocket$ | async)"
             [@fadeAnimation] [size]="'md'">
    </spinner>
  </div>

</section>
