<section class="fixed-height-card row">

  <div class="banner"></div>

  <div class="left">
    <div class="title">
      <h1>
        <page-title></page-title>
      </h1>

      <h2 class="text-muted">
        <small>
          <page-subtitle></page-subtitle>
        </small>
      </h2>
    </div>

    <form class="filters" [formGroup]="filtersForm">
      <span>Filters</span>
      <div>
        <label class="text-muted" for="mission-success">Mission successful</label>
        <select id="mission-success" [formControlName]="'missionSuccess'">
          <option [value]="''" selected>All</option>
          <option [value]="'true'">Successful</option>
          <option [value]="'false'">Unsuccessful</option>
        </select>
      </div>

      <div>
        <label class="text-muted" for="rocket-filter">Rocket</label>
        <select id="rocket-filter" [formControlName]="'rocket'">
          <option [value]="''" selected>All</option>
          <option *ngFor="let rocket of rockets$ | async"
                  [value]="rocket.id">{{rocket.name}}</option>
        </select>
      </div>

      <button (click)="resetFilters()">Reset</button>
    </form>
  </div>

  <div class="right">
    <div class="list"
         [@listAnimation]="(launches$ | async)"
         *ngIf="launches$ | async as launches">
      <div class="list-element"
           *ngFor="let launch of launches"
           [routerLink]="[launch.flightNumber]">
        <div class="image">
          <img [src]="launch.links.missionPatchSmall"
               [alt]="launch.missionName" />
        </div>
        <div class="content">
          <div class="title">
            <h3>{{launch.missionName}}</h3>
            <div>{{launch.launchDateUTC | date: 'dd-MM-yyyy'}}</div>
            <div>
              Success:
              <i class="success fas"
                 [ngClass]="{'fa-check': launch.success, 'fa-times': !launch.success}">
              </i>
            </div>
          </div>
          <div class="summary">
            <p>{{launch.details}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="spinner">
      <spinner *ngIf="loading"
               [@fadeAnimation] [size]="'md'">
      </spinner>
    </div>
  </div>
</section>
