<div class="col-12" *ngIf="launch | async as launch">
    <div class="row pl-2 pr-2">
        <div class="col-4">
            <h2>Mission patch: </h2>
            <img class="img-fluid rounded mt-3"
                    *ngIf="launch"
                    src="{{launch.links.missionPatch}}" />
        </div>
        <div class="col-8">
            <div class="pl-3">
                <h2>General information:</h2>
                <table class="table"
                        *ngIf="launch">
                    <tbody>
                        <tr>
                            <td colspan="2">{{launch.details}}</td>
                        </tr>
                        <tr>
                            <td>Success:</td>
                            <td>
                                <i class="success fas"
                                    [ngClass]="{'fa-check': launch.success, 'fa-times': !launch.success}">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rocket:
                            </td>
                            <td>
                                <a [routerLink]="['/craft', 'rockets', launch.rocket.id]">
                                    {{launch.rocket.name}}
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="launch.telemetry.flightClub">
                            <td>Telemetry:</td>
                            <td>
                                <a [href]="launch.telemetry.flightClub">
                                    Flight club
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>launch site:</td>
                            <td>
                                <div class="mb-2">{{launch.launchSite.longName}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<agm-map class="mt-4 w-100"-->
                 <!--*ngIf="launchpad"-->
                 <!--[latitude]="launchpad.location.latitude"-->
                 <!--[longitude]="launchpad.location.longitude"-->
                 <!--[zoom]="16"-->
                 <!--[draggable]="false"-->
                 <!--[mapTypeId]="'satellite'">-->
            <!--<agm-marker [latitude]="launchpad.location.latitude"-->
                        <!--[longitude]="launchpad.location.longitude">-->
                        <!--<agm-info-window [isOpen]="true">-->
                            <!--<strong>{{launchpad.location.name}}</strong>-->
                            <!--<br/>-->
                            <!--<span>Rockets launched:</span>-->
                            <!--<ul>-->
                                <!--<li *ngFor="let rocket of launchpad.vehicleslaunched">-->
                                    <!--{{rocket}}-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<span>{{launchpad.details}}</span>-->
                        <!--</agm-info-window>-->
            <!--</agm-marker>-->
        <!--</agm-map>-->
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-12 col-lg-6">
            <h2 class="pl-2 pr-2">First stage:</h2>
            <table class="table"
                    *ngIf="launch">
                <thead class="thead-inverse">
                    <th>Serial</th>
                    <th>Block</th>
                    <th>Flight</th>
                    <th>Landed</th>
                    <th>Reused</th>
                </thead>
                <tbody>
                    <tr *ngFor="let core of launch.rocket.firstStage.cores">
                        <td>
                            <a [routerLink]="['/cores', core.serial]">{{core.serial}}</a>
                        </td>
                        <td>{{core.block}}</td>
                        <td>{{core.flight | cardinal}}</td>
                        <td>
                            <i class="success fas"
                                [ngClass]="{'fa-check': core.landSuccess, 'fa-times': !core.landSuccess}">
                            </i>
                        </td>
                        <td>
                            <i class="success fas"
                                [ngClass]="{'fa-check': core.reused, 'fa-times': !core.reused}">
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="pl-2 pr-2">Second stage:</h2>
            <table class="table"
                    *ngIf="launch">
                <thead class="thead-inverse">
                    <th>Id</th>
                    <th class="hidden-sm-down">Type</th>
                    <th>Mass</th>
                    <th>Orbit</th>
                    <th>Customers</th>
                </thead>
                <tbody>
                    <tr *ngFor="let payload of launch.rocket.secondStage.payloads">
                        <td>{{payload.id}}</td>
                        <td class="hidden-sm-down">{{payload.type}}</td>
                        <td>
                            {{payload.massKg || '?'}}
                            <span *ngIf="payload.massKg">kg</span></td>
                        <td>{{payload.orbit}}</td>
                        <td>
                            <div *ngFor="let customer of payload.customers">{{customer}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- launch video -->
    <div class="row mt-3 justify-content-center no-gutters">
        <div class="col-12 col-lg-6">
            <div [innerHtml]="iframe_html"></div>
        </div>
    </div>
</div>
