/* You can add global styles to this file, and also import other style files */
.success.fa-check {
    color: green;
}

.success.fa-times {
    color: red;
}

agm-map {
    height: 350px;
}

.w1rem {
    width: 1rem;
}

.w2rem {
    width: 2rem;
}

.w3rem {
    width: 3rem;
}